h1{
    text-align: center;
    color: #000000;
}
h2{
    text-align: center;
    color: #000080;
}
.header{
    margin: 10mm;
    background-color: #937265;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.description{
    margin: 0px;
    text-align: center;
    background-color: #874633;
}
.others{
    background-color: #886754;
}
.Otitle{
    text-align: center;
    background-color: #453622;
}
.item{
    margin: 1%;
    display: flex;
    text-shadow: #763928;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.matter{
    background-color: #564376;
}
body {
    background-color: #000000;
}